name: Generate Activity Markdown
on:
    issues:
        types:
            - labeled
jobs:
    generate-markdown:
        if: contains(github.event.issue.labels.*.name, 'Activity')
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        steps:
            - uses: actions/checkout@v4

            - id: issue-parser
              uses: stefanbuck/github-issue-parser@v3
              with:
                  template-path: ".github/ISSUE_TEMPLATE/new_activity.yml"

            - name: Generate Markdown file
              env:
                  CATEGORY: ${{ steps.issue-parser.outputs.issueparser_category }}
                  TYPE: ${{ steps.issue-parser.outputs.issueparser_type }}
              run: |
                  cat <<EOF > _posts/Activity/$CATEGORY/${{ steps.issue-parser.outputs.issueparser_file_name }}.md
                  ---
                  title: "${{ github.event.issue.title }}"
                  date: ${{ steps.issue-parser.outputs.issueparser_date || github.event.issue.created_at }}
                  categories: [Activity, $CATEGORY]
                  tags: [$TYPE, ${{ steps.issue-parser.outputs.issueparser_tags }}]
                  toc: true
                  description: "${{ steps.issue-parser.outputs.issueparser_description }}"
                  start: ${{ steps.issue-parser.outputs.issueparser_start }}
                  end: ${{ steps.issue-parser.outputs.issueparser_end }}
                  address: "${{ steps.issue-parser.outputs.issueparser_address }}"
                  links:
                    æŠ¥å: ${{ steps.issue-parser.outputs.issueparser_links }}
                  mentors: [${{ steps.issue-parser.outputs.issueparser_mentors }}]
                  workers: [${{ steps.issue-parser.outputs.issueparser_workers }}]
                  partners: [${{ steps.issue-parser.outputs.issueparser_partners }}]
                  photos: [${{ steps.issue-parser.outputs.issueparser_photos }}]
                  files: [${{ steps.issue-parser.outputs.issueparser_files }}]
                  ---

                  ${{ steps.issue-parser.outputs.issueparser_content }}
                  EOF

            - uses: peter-evans/create-pull-request@v6
              with:
                  title: "[add] ${{ github.event.issue.title }} activity"
                  body: "closes #${{ github.event.issue.number }}"
