name: Generate Activity Markdown
on:
    issues:
        types:
            - labeled
            - edited
jobs:
    generate-markdown:
        if: github.event.issue.state == 'open' && contains(github.event.issue.labels.*.name, 'Activity')
        runs-on: ubuntu-latest
        permissions:
            contents: write
            issues: write
            pull-requests: write
        steps:
            - uses: actions/checkout@v5

            - id: issue-parser
              uses: stefanbuck/github-issue-parser@v3
              with:
                  template-path: ".github/ISSUE_TEMPLATE/new-activity.yml"

            - name: Generate Markdown file
              env:
                  GH_TOKEN: ${{ github.token }}
                  FILE_NAME: ${{ steps.issue-parser.outputs.issueparser_file_name }}
                  CATEGORY: ${{ steps.issue-parser.outputs.issueparser_category }}
                  TYPE: ${{ steps.issue-parser.outputs.issueparser_type }}
                  PHOTOS: ${{ steps.issue-parser.outputs.issueparser_photos }}
                  FILES: ${{ steps.issue-parser.outputs.issueparser_files }}
              run: |
                  FILE_PATH=Activity/$CATEGORY/$FILE_NAME

                  cat <<EOF > _posts/$FILE_PATH.md
                  ---
                  title: "${{ github.event.issue.title }}"
                  date: ${{ steps.issue-parser.outputs.issueparser_date || github.event.issue.created_at }}
                  categories: [Activity, $CATEGORY]
                  tags: [$TYPE, ${{ steps.issue-parser.outputs.issueparser_tags }}]
                  toc: true
                  description: "${{ steps.issue-parser.outputs.issueparser_description }}"
                  start: ${{ steps.issue-parser.outputs.issueparser_start }}
                  end: ${{ steps.issue-parser.outputs.issueparser_end }}
                  address: "${{ steps.issue-parser.outputs.issueparser_address }}"
                  links:
                    报名: ${{ steps.issue-parser.outputs.issueparser_register_link }}
                  mentors: [${{ steps.issue-parser.outputs.issueparser_mentors }}]
                  workers: [${{ steps.issue-parser.outputs.issueparser_workers }}]
                  partners: [${{ steps.issue-parser.outputs.issueparser_partners }}]
                  photos: [$(echo $PHOTOS | grep -oE 'https?://[^ \)]+' | tr '\n' ',' | sed 's/,$//')]
                  files: [$(echo $FILES | grep -oE 'https?://[^ \)]+' | tr '\n' ',' | sed 's/,$//')]
                  ---

                  ${{ steps.issue-parser.outputs.issueparser_content }}
                  EOF

                  POST_URL=$(echo "https://fcc-cd.dev/$FILE_PATH" | tr '[:upper:]' '[:lower:]')

                  COMMENT_BODY="After the linked PR merged, the activity will be posted at: $POST_URL"

                  gh issue comment ${{ github.event.issue.number }} --body "$COMMENT_BODY"

            - uses: peter-evans/create-pull-request@v7
              with:
                  title: "[add] ${{ github.event.issue.title }} activity"
                  body: "closes #${{ github.event.issue.number }}"
                  author: "${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>"
